/* Sandstone */
@import "sandstone.min.css";

/* Tabzilla */
@import "//www.mozilla.org/tabzilla/media/css/tabzilla.css";

/* Your styles here */
html, body {
	height: 100%;
}
#outer-wrapper {
	min-height: 100%;
	min-height: -moz-calc(100% - 2px);
	min-height: -webkit-calc(100% - 2px);
	min-height: -o-calc(100% - 2px);
	min-height: -ms-calc(100% - 2px);
	min-height: calc(100% - 2px);
}

#notice {
	font-family: Open Sans;
	font-size: smaller;
	background: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
}
#notice article {
	padding: 10px;
	height: 40px;
}
#notice h4 {
	font-weight: bold;
	padding: 0;
	margin: 0;
}
#notice p {
	padding: 0;
	margin: 0;
}
#notice img {
	float: left;
	padding: 0 10px 0 0;
}

.indicator {
	width: 32px;
	height: 32px;
	content: ' ';
	background: url('../img/icons/star-empty.png') no-repeat;
	display: block;
	margin: -4px 8px -4px 0;
	float: left;
}
.indicator.starred {
	background: url('../img/icons/star-full.png') no-repeat;
}
.session-list li {
	list-style: none;
	border-bottom: 1px dotted rgb(214, 214, 214);
	padding: 8px 0;
	margin: 0;
}

#session dl > dt {
	font-size: larger;
	margin-bottom: 4px;
}
#session dl > dd {
	margin-bottom: 8px;
}

.session-list .room, .session-list .time, .session-list .speaker {
	display: block;
}